.DS_Store
.vscode-test
coverage
node_modules
out
plan/*
test.src
node_modules
/webview.js
/webview.css
/webview.html
/extension.js
/extension.cjs
/extension.browser.js
/extension.browser.cjs
*.vsix
.vscode-test-web
system.pem
.vscode/tmstate.json
.vscode/memory.jsonl
tools/vscode-event-analyzer/output/*
!tools/vscode-event-analyzer/output/.gitkeep